.about {
  position: relative;
  background: url("../img/bg/bg-lines.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.about__container {
  padding-top: 97px;
  padding-bottom: 69px;

  @include viewport--sm {
    padding-top: 38px;
    padding-bottom: 45px;
  }
}

.about__wrapper {
  display: flex;
  align-items: flex-start;

  @include viewport--sm {
    flex-direction: column;
  }
}

.about__text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 300px;
  margin-right: 20px;

  @include viewport--md {
    width: 50%;
    max-width: none;
  }

  @include viewport--sm {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }

  @media (max-width: 400px) {
    max-width: 276px;
  }
}

.about__title {
  margin-bottom: 54px;

  @include viewport--sm {
    margin-bottom: 22px;
  }
}

.about__text {
  margin-left: 30px;
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  color: $color-font-gray-2;

  @include viewport--sm {
    margin-left: 0;
    margin-bottom: 21px;
  }
}

.about__btn {
  margin-left: 30px;

  @include viewport--sm {
    margin-left: 0;
  }
}

.about__list-container {
  margin-top: 90px;
  margin-left: 3.5%;
  margin-right: 20px;

  @include viewport--md {
    width: 50%;
    margin: 0;
    margin-top: 50px;
  }

  @include viewport--sm {
    width: 100%;
    margin-top: 0;
  }
}

.about__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 203px));
  grid-template-rows: auto;
  column-gap: 58px;
  row-gap: 57px;

  @include viewport--md {
    column-gap: 20px;
  }

  @include viewport--sm {
    grid-template-columns: 1fr;
    gap: 47px;
  }
}

.about__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include viewport--sm {
    align-items: center;
    flex-direction: row;
  }
}

.about__item-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-bottom: 5px;

  svg {
    vertical-align: middle;
  }

  @include viewport--sm {
    margin-right: 14px;
  }
}

.about__item-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: $color-font-gray-2;
}

.about__item-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $color-font-gray-2;
}

.about__widget {
  margin-top: 18px;
  margin-right: 0;
  margin-left: auto;

  @include viewport--md {
    display: none;
  }
}
