.archive-page {
  background: url("../img/bg/bg-lines.png") no-repeat;
  background-position: top;
  background-size: 100% 814px;
}

.archive-page__container {
  padding-top: 213px;
  padding-bottom: 56px;

  @include viewport--sm {
    padding-top: 113px;
    padding-bottom: 50px;
  }
}

.archive-page__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.archive-page__title {
  margin-bottom: 58px;
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: $color-decoration;

  @include viewport--sm {
    margin-bottom: 23px;
    font-size: 30px;
    line-height: 36px;
  }
}

.archive-page__archive {
  width: 100%;
  margin-bottom: 60px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include viewport--sm {
    margin-bottom: 30px;
  }
}
