.articles {
  position: relative;
  background-color: #f5f9fa;
}

.articles__container {
  padding-top: 89px;
  padding-bottom: 25px;

  @include viewport--sm {
    padding-top: 33px;
    padding-bottom: 45px;
  }
}

.articles__title {
  padding-right: 10px;
  margin-bottom: 47px;

  @include viewport--sm {
    margin-bottom: 15px;
  }
}

.articles__content {
  display: flex;
  margin-left: 25px;

  @include viewport--sm {
    margin: 0;
  }
}

.articles__list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.articles__list {
  display: grid;
  grid-template-columns: 72% 28%;
  grid-template-rows: 195px auto;
  column-gap: 17px;
  row-gap: 10px;
  margin-right: 15px;
  margin-bottom: 27px;
  box-sizing: border-box;

  @include viewport--lg {
    grid-template-columns: 48% 48%;
    row-gap: 20px;
  }

  @include viewport--lg {
    max-width: 900px;
  }

  @include viewport--sm {
    width: 100%;
    margin-right: 0;
  }

  @media (max-width: 385px) {
    grid-template-columns: 47% 47%;
    row-gap: 30px;
    margin-bottom: 21px;
  }

  @media (max-width: 378px) {
    grid-template-columns: 46.5% 46.5%;
  }

  @media (max-width: 374px) {
    grid-template-columns: 39% 39%;
  }
}

.articles__item {
  &--main {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    @include viewport--lg {
      grid-column: 1 / 3;
    }
  }
}

.articles__widget {
  margin-top: 20px;
  margin-right: 0;
  margin-left: auto;

  @include viewport--sm {
    display: none;
  }
}
