.contacts {
  position: relative;
  background: url("../img/bg/bg-lines.png") no-repeat;
  background-position: top;
  background-size: 100% 764px;
}

.contacts__container {
  padding-top: 190px;
  padding-bottom: 40px;

  @include viewport--sm {
    padding-top: 110px;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
}

.contacts__title-container {
  margin-bottom: 32px;

  @include viewport--sm {
    margin-bottom: 22px;
  }
}

.contacts__breadcrumbs {
  margin-bottom: 25px;

  @include viewport--sm {
    display: none;
  }
}

.contacts__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  color: $color-decoration;

  @include viewport--sm {
    font-size: 30px;
  }
}

.contacts__content {
  display: flex;

  @include viewport--sm {
    flex-direction: column;
  }
}

.contacts__address {
  width: 100%;
  max-width: 454px;
  margin-right: 68px;

  @include viewport--sm {
    width: auto;
    margin-right: 0px;
    margin-bottom: 35px;
    padding-right: 100px;
  }
}

.contacts__address-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.3;
  color: $color-font-gray-2;
  margin-bottom: 16px;
}

.contacts__address-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.3;
  color: $color-font-gray-2;
}

.contacts__person {
  width: 100%;
  max-width: 454px;
}

.contacts__person-card {
  display: flex;
}

.contacts__image-container {
  flex-shrink: 0;
  width: 93px;
  height: 93px;
  border-radius: 5px;
  margin-top: 7px;
  margin-right: 23px;
  overflow: hidden;

  img {
    vertical-align: middle;
    width: 100%;
    object-fit: cover;
  }

  @include viewport--sm {
    width: 78px;
    height: 78px;
    margin: 0;
    margin-left: 7px;
    margin-right: 13px;
  }
}

.contacts__text-container {
  display: flex;
  flex-direction: column;
}

.contacts__name {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.3;
  color: $color-font-gray-2;
  margin-bottom: 16px;
}

.contacts__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.3;
  color: $color-font-gray-2;
  margin-bottom: 16px;
}
