.editor {
  display: flex;
  align-items: flex-start;
}

.editor__image-container {
  flex-shrink: 0;
  width: 110px;
  height: 110px;
  margin-right: 21px;
  border-radius: 5px;
  overflow: hidden;

  img {
    vertical-align: middle;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  @include viewport--sm {
    width: 85px;
    height: 85px;
    margin-right: 11px;
  }
}

.editor__text-container {
  display: flex;
  flex-direction: column;

}

.editor__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
  color: $color-decoration;
  margin-bottom: 3px;
}

.editor__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.3;
  color: $color-font-gray-2;
}
