.news {
  position: relative;
  z-index: 4;
  background-color: #f5f9fa;
}

.news__container {
  padding-top: 103px;
  padding-bottom: 78px;

  @include viewport--sm {
    padding-top: 34px;
    padding-bottom: 32px;
  }
}

.news__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.news__title {
  margin-bottom: 58px;

  @include viewport--sm {
    margin-bottom: 18px;
  }
}

.news__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 28px;
  margin-left: 27px;
  margin-bottom: 30px;

  @include viewport--lg {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 25px;
  }

  @include viewport--sm {
    margin-left: 0;
    margin-bottom: 36px;
  }

  @media (max-width: 374px) {
    grid-template-columns: 1fr;
  }
}

.news__btn {
  margin-left: 27px;

  @include viewport--sm {
    margin-left: 0;
  }
}
