.news-page {
  position: relative;
  background: url("../img/bg/bg-lines.png") no-repeat;
  background-position: top;
  background-size: 100% 814px;
}

.news-page__container {
  padding-top: 190px;
  padding-bottom: 50px;

  @include viewport--sm {
    padding-top: 112px;
  }
}

.news-page__wrapper {
  display: flex;
  flex-direction: column;
}

.news-page__title-container {
  margin-bottom: 50px;
}

.news-page__breadcrumbs {
  margin-bottom: 20px;

  @include viewport--sm {
    display: none;
  }
}

.news-page__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: $color-decoration;

  @include viewport--sm {
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
    text-transform: none;
  }
}

.news-page__content {
  margin-left: 8px;

  @include viewport--sm {
    margin: 0;
  }
}

.news-page__group {
  margin-bottom: 33px;

  @include viewport--sm {
    margin-bottom: 15px;
  }
}

.news-page__group-btn {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: $color-font-gray-2;

  svg {
    vertical-align: middle;
    margin-left: 10px;
  }
}

.news-page__list-container {
  padding: 17px 0;
}

.news-page__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-template-rows: auto;
  column-gap: 26px;
  row-gap: 31px;

  @include viewport--sm {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.news-page__item {
  @include viewport--sm {
    &:first-of-type {
      grid-column: 1 / -1;
    }
  }
}
