.politics {
  position: relative;
  background: url("../img/bg/bg-lines.png") no-repeat;
  background-position: top;
  background-size: 100% 764px;
}

.politics__container {
  padding-top: 190px;
  padding-bottom: 70px;

  @include viewport--sm {
    padding-top: 110px;
  }
}

.politics__wrapper {
  display: flex;
  flex-direction: column;
}

.politics__title-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @include viewport--sm {
    margin-bottom: 16px;
  }
}

.politics__breadcrumbs {
  margin-bottom: 28px;

  @include viewport--sm {
    display: none;
  }
}

.politics__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  color: $color-decoration;
}

.politics__content-container {
  display: flex;

}

.politics__widget {
  margin-right: 0;
  margin-left: auto;

  @include viewport--sm {
    display: none;
  }
}

.politics__content {
  width: 100%;
  max-width: 849px;
  margin-right: 20px;
}

.politics__point {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.politics__point-btn {
  position: relative;
  text-align: left;
  width: 100%;
  padding: 11px 35px;
  border: 2px solid #eceff3;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.3;
  color: $color-font-gray-2;

  &:hover,
  &:focus {
    background-color: $color-decoration;
    color: $color-font-alt;
    border: 2px solid $color-decoration;

    &::before,
    &::after {
      background-color: $color-font-alt;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 12px;
    width: 14px;
    height: 2px;
    background-color: $color-decoration;
  }

  &::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 18px;
    width: 2px;
    height: 14px;
    background-color: $color-decoration;
  }

  @include viewport--sm {
    padding: 13px 27px;
    font-size: 18px;

    &::before {
      top: 23px;
      left: 7px;
    }

    &::after {
      top: 17px;
      left: 13px;
    }
  }
}

.open .politics__point-btn {
  border: 2px solid $color-decoration;
  color: $color-decoration;

  &:hover,
  &:focus {
    background-color: $color-decoration;
    color: $color-font-alt;
    border: 2px solid $color-decoration;

    &::before,
    &::after {
      background-color: $color-font-alt;
    }
  }

  &::after {
    display: none;
  }
}

.politics__list {
  width: 100%;
  column-count: 2;
  column-gap: 30px;
  margin-left: 3px;
  padding: 25px 0;

  @include viewport--sm {
    column-count: auto;
  }
}

.politics__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  break-inside: avoid;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include viewport--sm {
    max-width: none;
  }
}

.politics__item-number {
  margin-right: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  color: $color-decoration;
}

.politics__item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: $color-font-gray-2;
}
