.btn {
  position: relative;
  display: flex;
  outline: none;
  transition: $default-transition-settings;

  &--light {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: $color-decoration;

    span {
      position: relative;
      z-index: 1;
    }

    &::before {
      content: "";
      position: absolute;
      top: 11px;
      left: 0;
      width: 100%;
      height: 12px;
      background-color: #c5ecfd;
      transition: $default-transition-settings;
    }

    &:hover,
    &:focus {
      &::before {
        top: 100%;
        height: 2px;
      }
    }
  }

  &--border {
    align-items: center;
    justify-content: center;
    padding: 3px 14px;
    border: 1px solid $color-decoration;
    font-family: $font-family-base;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: $color-decoration;
    transition: $default-transition-settings;

    &:hover,
    &:focus {
      background-color: $color-decoration;
      color: $color-font-alt;
    }
  }

  &--arrow {
    padding: 12px;
    font-size: 13px;
    line-height: 18px;

    svg {
      margin-left: 19px;
      fill: $color-decoration;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 39px;
      width: 1px;
      height: 100%;
      background-color: $color-decoration;
    }

    &:hover,
    &:focus {
      svg {
        fill: $color-font-alt;
      }
    }
  }

  &--nowrap {
    white-space: nowrap;
  }

  &--white {
    padding: 10px 37px;
    background: $color-default-white;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: $font-family-base;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $color-decoration;

    &:hover,
    &:focus {
      color: $color-font-alt;
      background: $color-decoration;
      box-shadow: 0 0 5px 1px $color-font-alt;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--underline {
    padding: 10px 0;
    font-family: $font-family-secondary-2;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: $color-font-alt;

    span {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        right: 0;
        width: 100%;
        height: 1px;
        background: $color-default-white;
        transition: ease-in 0.3s;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 1px;
        background: $color-default-white;
        transition: 0.3s ease-in 0.3s;
      }
    }

    &:hover span,
    &:focus span {
      &::before {
        width: 0;
      }

      &::after {
        width: 100%;
      }
    }
  }
}
